* {
  margin:0;
  padding: 0;
}

html, body {
  height:100%;
}

.center {
  display: flex;
  flex-flow: column;
  align-items: center;
  Justify-content: center;
}

span {
  color: red;
}

#inline-img {
  display: inline-block;
}
