* {
  margin:0;
  padding: 0;
}

html, body {
  height:100%;
}

.center {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  flex-wrap: wrap;
  align-items: center;
  Justify-content: center;
}
