* {
  margin:0;
  padding: 0;
}

html, body {
  height:100%;
  width: 100%;
}

.center {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

table, thead, tr, th, td {
  padding: 5px;
  border: 1px solid grey;
  border-collapse: collapse;
  text-align: center;
}

img {
  width: 5em;
  hieght: 5em;
}
